<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        /* Links estilo IRC */
        a {
            color: #6699ff;
            text-decoration: none;
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid #6699ff;
            border-radius: 5px;
            margin: 10px;
            text-align: center;
        }

        a:hover {
            text-decoration: underline;
            background-color: #333333;
        }
    </style>
</head>
<body>
    <h1>Create a New Server</h1>
    <form action="{{ url_for('create_server') }}" method="post">
        <input type="text" name="server_name" placeholder="Server Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Create Server</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
